<main>
<div class="message"><%= flash[:notice] %></div>
<p>
<strong>Title:</strong>
<%=@book.title %>
</p>
<p>
<strong>Body: </strong>
<%=@book.body %>
</p>
<%=link_to("Edit","#{@book.id}/edit")%> |<%=link_to("Back","/book") %>
</main>
